@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
a{
    text-decoration: none;
}
img{
    width: 400px;
    display: block;
    margin: auto;
}
body{
    background-color: lightgray;
    color: white;
    background-image: url(mountains.png);
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: 100%;
    min-height: 100vh;
}
h1{
    color: black;
    text-align: center;
    margin: 30px;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
}
span{
    color: rgb(70, 121, 105);
}
.shape {
    color: white;
    font-family: sans-serif;
    width: 300px;
    height: 70px;
    background-color: rgb(70, 121, 105);
    padding: 10px;
    margin: 30px auto;
    font-size: 20px;
    text-align: center;
    border-radius: 35px;
    line-height: 50px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}
#iddd{
    background-color: red;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* .content{
    background-color: white;
    color: black;
    width: 360px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    font-family: Arial, Helvetica, sans-serif;
} */
.content{
    background-color: white;
    color: black;
    width: 360px;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}